<a href="https://colab.research.google.com/github/lakhanrajpatlolla/aiml-learning/blob/master/U2W6_18_News_Category_Dataset_BoW_vs_W2V_C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Advanced Certification in AIML
## A Program by IIIT-H and TalentSprint

## Learning Objective


At the end of the experiment, you will be able to:

*  Pre-process the data
*  Representation of  text document using Bag of Words & Word2Vec

In [1]:
#@title Experiment Walkthrough Video
#@markdown BoW vs W2V
from IPython.display import HTML

HTML("""<video width="854" height="480" controls>
  <source src="https://cdn.exec.talentsprint.com/non-processed/Bag_of_Words_Vs_Word2Vec.mp4">
</video>
""")

## Dataset

   This dataset contains around 200k news headlines from the year 2012 to 2018 obtained from [HuffPost](https://www.huffpost.com/). The model trained on this dataset could be used to identify tags for untracked news articles or to identify the type of language used in different news articles.

Each news headline has a corresponding category. Categories and corresponding article counts as follows:


    POLITICS: 32739
    WELLNESS: 17827
    ENTERTAINMENT: 16058
    TRAVEL: 9887
    STYLE & BEAUTY: 9649
    PARENTING: 8677
    HEALTHY LIVING: 6694
    QUEER VOICES: 6314
    FOOD & DRINK: 6226
    BUSINESS: 5937
    COMEDY: 5175
    SPORTS: 4884
    BLACK VOICES: 4528
    HOME & LIVING: 4195
    PARENTS: 3955
    THE WORLDPOST: 3664
    WEDDINGS: 3651
    WOMEN: 3490
    IMPACT: 3459
    DIVORCE: 3426
    CRIME: 3405
    MEDIA: 2815
    WEIRD NEWS: 2670
    GREEN: 2622
    WORLDPOST: 2579
    RELIGION: 2556
    STYLE: 2254
    SCIENCE: 2178
    WORLD NEWS: 2177
    TASTE: 2096
    TECH: 2082
    MONEY: 1707
    ARTS: 1509
    FIFTY: 1401
    GOOD NEWS: 1398
    ARTS & CULTURE: 1339
    ENVIRONMENT: 1323
    COLLEGE: 1144
    LATINO VOICES: 1129
    CULTURE & ARTS: 1030
    EDUCATION: 1004


#### Description
This dataset has the following columns:
1. **Category:** Category article belongs to
2. **Headline:** Determines the Headline of the article
3. **Authors:** Person authored the article
4. **Link:** Link to the post
5. **Short_description:** Short description of the article
6. **Date:** Date the article was published

Out of 41 category's from the News_Category_Dataset, we consider four category's (Travel, Tech, Science, College) for this experiment

### Setup Steps:

In [1]:
#@title Please enter your registration id to start: { run: "auto", display-mode: "form" }
Id = "2418775" #@param {type:"string"}

In [2]:
#@title Please enter your password (normally your phone number) to continue: { run: "auto", display-mode: "form" }
password = "9959000490" #@param {type:"string"}

In [3]:
#@title Run this cell to complete the setup for this Notebook
from IPython import get_ipython
import re
ipython = get_ipython()

notebook= "U2W6_18_News_Category_Dataset_BoW_vs_W2V_C" #name of the notebook

def setup():
#  ipython.magic("sx pip3 install torch")
    from IPython.display import HTML, display
    ipython.magic("sx pip3 install gensim")
    ipython.magic("sx wget https://cdn.iiith.talentsprint.com/aiml/Experiment_related_data/News_Category_Dataset_v2.csv")
    ipython.magic("sx wget https://cdn.talentsprint.com/talentsprint1/archives/sc/aiml/experiment_related_data/AIML_DS_GOOGLENEWS-VECTORS-NEGATIVE-300_STD.rar")
    ipython.magic("sx unrar e /content/AIML_DS_GOOGLENEWS-VECTORS-NEGATIVE-300_STD.rar")
    display(HTML('<script src="https://dashboard.talentsprint.com/aiml/record_ip.html?traineeId={0}&recordId={1}"></script>'.format(getId(),submission_id)))
    print("Setup completed successfully")
    return

def submit_notebook():
    ipython.magic("notebook -e "+ notebook + ".ipynb")

    import requests, json, base64, datetime

    url = "https://dashboard.talentsprint.com/xp/app/save_notebook_attempts"
    if not submission_id:
      data = {"id" : getId(), "notebook" : notebook, "mobile" : getPassword()}
      r = requests.post(url, data = data)
      r = json.loads(r.text)

      if r["status"] == "Success":
          return r["record_id"]
      elif "err" in r:
        print(r["err"])
        return None
      else:
        print ("Something is wrong, the notebook will not be submitted for grading")
        return None

    elif getAnswer() and getComplexity() and getAdditional() and getConcepts() and getWalkthrough() and getComments() and getMentorSupport():
      f = open(notebook + ".ipynb", "rb")
      file_hash = base64.b64encode(f.read())

      data = {"complexity" : Complexity, "additional" :Additional,
              "concepts" : Concepts, "record_id" : submission_id,
              "answer" : Answer, "id" : Id, "file_hash" : file_hash,
              "notebook" : notebook, "feedback_walkthrough":Walkthrough ,
              "feedback_experiments_input" : Comments,
              "feedback_inclass_mentor": Mentor_support}

      r = requests.post(url, data = data)
      r = json.loads(r.text)
      if "err" in r:
        print(r["err"])
        return None
      else:
        print("Your submission is successful.")
        print("Ref Id:", submission_id)
        print("Date of submission: ", r["date"])
        print("Time of submission: ", r["time"])
        print("View your submissions: https://learn-iiith.talentsprint.com/notebook_submissions")
        #print("For any queries/discrepancies, please connect with mentors through the chat icon in LMS dashboard.")
        return submission_id
    else: submission_id


def getAdditional():
  try:
    if not Additional:
      raise NameError
    else:
      return Additional
  except NameError:
    print ("Please answer Additional Question")
    return None

def getComplexity():
  try:
    if not Complexity:
      raise NameError
    else:
      return Complexity
  except NameError:
    print ("Please answer Complexity Question")
    return None

def getConcepts():
  try:
    if not Concepts:
      raise NameError
    else:
      return Concepts
  except NameError:
    print ("Please answer Concepts Question")
    return None


def getWalkthrough():
  try:
    if not Walkthrough:
      raise NameError
    else:
      return Walkthrough
  except NameError:
    print ("Please answer Walkthrough Question")
    return None

def getComments():
  try:
    if not Comments:
      raise NameError
    else:
      return Comments
  except NameError:
    print ("Please answer Comments Question")
    return None


def getMentorSupport():
  try:
    if not Mentor_support:
      raise NameError
    else:
      return Mentor_support
  except NameError:
    print ("Please answer Mentor support Question")
    return None

def getAnswer():
  try:
    if not Answer:
      raise NameError
    else:
      return Answer
  except NameError:
    print ("Please answer Question")
    return None


def getId():
  try:
    return Id if Id else None
  except NameError:
    return None

def getPassword():
  try:
    return password if password else None
  except NameError:
    return None

submission_id = None
### Setup
if getPassword() and getId():
  submission_id = submit_notebook()
  if submission_id:
    setup()
else:
  print ("Please complete Id and Password cells before running setup")

Setup completed successfully

## Import packages

In [5]:
import re
import nltk
import pandas as pd
import numpy as np
import gensim
from nltk.corpus import stopwords
nltk.download('stopwords')
import warnings
warnings.filterwarnings('ignore')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

## Load the data

In [6]:
# Load the data
df = pd.read_csv('News_Category_Dataset_v2.csv')
df.head()

,Unnamed: 0,category,headline,authors,link,short_description,date
0,0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...,2018-05-26
1,1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.,2018-05-26
2,2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...,2018-05-26
3,3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...,2018-05-26
4,4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ...",2018-05-26

In [7]:
# Count the classes in category
df['category'].value_counts()

category
POLITICS          32739
WELLNESS          17827
ENTERTAINMENT     16058
TRAVEL             9887
STYLE & BEAUTY     9649
PARENTING          8677
HEALTHY LIVING     6694
QUEER VOICES       6314
FOOD & DRINK       6226
BUSINESS           5937
COMEDY             5175
SPORTS             4884
BLACK VOICES       4528
HOME & LIVING      4195
PARENTS            3955
THE WORLDPOST      3664
WEDDINGS           3651
WOMEN              3490
IMPACT             3459
DIVORCE            3426
CRIME              3405
MEDIA              2815
WEIRD NEWS         2670
GREEN              2622
WORLDPOST          2579
RELIGION           2556
STYLE              2254
SCIENCE            2178
WORLD NEWS         2177
TASTE              2096
TECH               2082
MONEY              1707
ARTS               1509
FIFTY              1401
GOOD NEWS          1398
ARTS & CULTURE     1339
ENVIRONMENT        1323
COLLEGE            1144
LATINO VOICES      1129
CULTURE & ARTS     1030
EDUCATION          1004
Name: count, dtype: int64

## Data Pre-processing

we are considering four category's (Travel, Tech, Science, College) for this experiment

In [8]:
# Create a list of manually selected category
category = ['TRAVEL','TECH','SCIENCE','COLLEGE']

# Load the dataset based on the category
df = df[df['category'].isin(category)]      # .isin whether each element in the DataFrame is contained in values.
df.shape

(15291, 7)

In [10]:
# Add the two columns into text column
df['text'] = df['headline'] +','+ df['short_description']
df['label'] = df['category']
df

,Unnamed: 0,category,headline,authors,link,short_description,date,text,label
126,126,TRAVEL,"14 Ways To Make Family Road Trips Easier, From...",Taylor Pittman,https://www.huffingtonpost.com/entry/family-ro...,Having waterproof covers on the seats is kind ...,2018-05-24,"14 Ways To Make Family Road Trips Easier, From...",TRAVEL
137,137,TECH,Facebook Accused Of Reading Texts And Accessin...,Sara Boboltz,https://www.huffingtonpost.com/entry/facebook-...,A failed startup suggested that Facebook mount...,2018-05-24,Facebook Accused Of Reading Texts And Accessin...,TECH
138,138,TECH,Self-Driving Uber In Fatal Accident Had 6 Seco...,Ryan Grenoble,https://www.huffingtonpost.com/entry/self-driv...,The NTSB published a preliminary report on the...,2018-05-24,Self-Driving Uber In Fatal Accident Had 6 Seco...,TECH
155,155,SCIENCE,Scientists Turn To DNA Technology To Search Fo...,NaN,https://www.huffingtonpost.com/entry/scientist...,The researchers plan to scour the Loch Ness ne...,2018-05-23,Scientists Turn To DNA Technology To Search Fo...,SCIENCE
205,205,TRAVEL,14 Trips To Take From New York City On A Long ...,Caroline Bologna,https://www.huffingtonpost.com/entry/14-fun-lo...,"Charming towns, relaxing beaches and top hikin...",2018-05-23,14 Trips To Take From New York City On A Long ...,TRAVEL
...,...,...,...,...,...,...,...,...,...
200844,200844,TECH,Google+ Now Open for Teens With Some Safeguards,"Larry Magid, Contributor\nTechnology journalist",https://www.huffingtonpost.com/entry/google-pl...,"For the most part, teens' experience on Google...",2012-01-28,Google+ Now Open for Teens With Some Safeguard...,TECH
200845,200845,TECH,Web Wars,"John Giacobbi, Contributor\nTales from the Int...",https://www.huffingtonpost.com/entry/congress-...,"These ""Web Wars"" threaten to rage on for some ...",2012-01-28,"Web Wars,These ""Web Wars"" threaten to rage on ...",TECH
200846,200846,TECH,"First White House Chief Technology Officer, An...",NaN,https://www.huffingtonpost.comhttp://www.engad...,He was appointed with a fair bit of fanfare as...,2012-01-28,"First White House Chief Technology Officer, An...",TECH
200847,200847,TECH,Watch The Top 9 YouTube Videos Of The Week,Catharine Smith,https://www.huffingtonpost.com/entry/watch-top...,If you're looking to see the most popular YouT...,2012-01-28,"Watch The Top 9 YouTube Videos Of The Week,If ...",TECH
200848,200848,TECH,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,"Reuters, Reuters",https://www.huffingtonpost.com/entry/rim-ceo-t...,Verizon Wireless and AT&T are already promotin...,2012-01-28,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,TECH

Drop the unwanted columns

In [11]:
df = df.drop(['headline','short_description','date','authors','link','category','Unnamed: 0'], axis=1)
df.shape

(15291, 2)

Consider text column as feature and label as target variable. Convert label into numerical.

Hint: Label Encoder for obtaining a numeric representation, refer to the [link](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html).

In [12]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df['label']=le.fit_transform(df['label'])
df['label'].head()

126    3
137    2
138    2
155    1
205    3
Name: label, dtype: int64

In [13]:
df['text'].shape, df['label'].shape

((15291,), (15291,))

In [14]:
df['text']

126       14 Ways To Make Family Road Trips Easier, From...
137       Facebook Accused Of Reading Texts And Accessin...
138       Self-Driving Uber In Fatal Accident Had 6 Seco...
155       Scientists Turn To DNA Technology To Search Fo...
205       14 Trips To Take From New York City On A Long ...
                                ...
200844    Google+ Now Open for Teens With Some Safeguard...
200845    Web Wars,These "Web Wars" threaten to rage on ...
200846    First White House Chief Technology Officer, An...
200847    Watch The Top 9 YouTube Videos Of The Week,If ...
200848    RIM CEO Thorsten Heins' 'Significant' Plans Fo...
Name: text, Length: 15291, dtype: object

## BoW

### TF IDF
 tf-idf aims to represent the number of times a given word appears in a document (a movie review in our case) relative to the number of documents in the corpus that the word appears in  where, words that appear in many documents have a value closer to zero and words that appear in less documents have values closer to 1.

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer()
alltext = df['text'].astype(str)
tfidf_feature = tfidf_vectorizer.fit_transform(alltext)

### Split the data into train and test sets

Hint: Refer to[Train-Test split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(tfidf_feature,df['label'],test_size = 0.2,random_state=42)

### Apply the Classification

In [17]:
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.svm import SVC

# Create an object for all the algorithms
model1 = DecisionTreeClassifier()
model2 = KNeighborsClassifier(n_neighbors=8)
model3 = SGDClassifier()
model4 = SVC(kernel='linear')

models = [model1, model2, model3, model4]

for model in models:
    model.fit(X_train, y_train)         # fit the model
    y_pred= model.predict(X_test)       # then predict on the test set
    accuracy= accuracy_score(y_test, y_pred)
    print("Accuracy (in %):", model, "is", accuracy)

Accuracy (in %): DecisionTreeClassifier() is 0.7688787185354691
Accuracy (in %): KNeighborsClassifier(n_neighbors=8) is 0.8166067342268716
Accuracy (in %): SGDClassifier() is 0.8698921216083687
Accuracy (in %): SVC(kernel='linear') is 0.8823144818568159

## Word2Vec

###Load pre-trained Word2Vec

Lets now proceed to load the complete pretrained vectors.

In [18]:
W2Vmodel = gensim.models.KeyedVectors.load_word2vec_format('AIML_DS_GOOGLENEWS-VECTORS-NEGATIVE-300_STD.bin', binary=True, limit=500000)

### Word2Vec representation

Convert each document into average of the word2vec vectors of all valid words in document

Note: Below code cell take some time to compile

In [19]:
# Creating empty final dataframe
docs_vectors = pd.DataFrame()

# Removing stop words
stopwords = nltk.corpus.stopwords.words('english')
text = df['text'].astype(str)
# Looping through each document and cleaning it
for doc in text.str.lower().str.replace('[^a-z ]', ''):
    temp = pd.DataFrame()
    for word in doc.split(' '):
        # If word is not present in stopwords then (try)
        if word not in stopwords and word.isalpha():
            try:
                # If word is present in embeddings then get the vector representation and append it to temporary dataframe
                word_vec = W2Vmodel[word]
                temp = temp._append(pd.Series(word_vec), ignore_index = True)

            except:
                pass
    # Take the average of vectors for each word
    doc_vector = temp.mean()
    # Append each document value to the final dataframe
    docs_vectors = docs_vectors._append(doc_vector, ignore_index = True)
docs_vectors.shape

(15291, 300)

### Split the data into train and test sets

Hint: Refer to[Train-Test split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(docs_vectors,df['label'],test_size = 0.2,random_state=42)

### Apply the Classification

In [21]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="mean")
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)

In [22]:
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.svm import SVC

# Create an object for all the algorithms
model1 = DecisionTreeClassifier()
model2 = KNeighborsClassifier(n_neighbors=8)
model3 = SGDClassifier()
model4 = SVC(kernel='linear')

models = [model1, model2, model3, model4]

for model in models:
    model.fit(X_train_imputed, y_train)         # fit the model
    y_pred= model.predict(X_test_imputed)       # then predict on the test set
    accuracy= accuracy_score(y_test, y_pred)
    print("Accuracy(in %):", model, "is", accuracy)

Accuracy(in %): DecisionTreeClassifier() is 0.6698267407649559
Accuracy(in %): KNeighborsClassifier(n_neighbors=8) is 0.8175874468780647
Accuracy(in %): SGDClassifier() is 0.8620464203988232
Accuracy(in %): SVC(kernel='linear') is 0.8613926119646943

### Please answer the questions below to complete the experiment:

In [23]:
#@title What is the difference between word2vec and BOW? { run: "auto", form-width: "500px", display-mode: "form" }
Answer = "Word2vec produces one vector per word whereas BoW produces one number that is a word count" #@param ["","Word2vec produces one vector per word whereas BoW produces one number that is a word count","Word2vec produces one  number that is a word count whereas BoW produces one vector per word"]

In [25]:
#@title How was the experiment? { run: "auto", form-width: "500px", display-mode: "form" }
Complexity = "Good and Challenging for me" #@param ["","Too Simple, I am wasting time", "Good, But Not Challenging for me", "Good and Challenging for me", "Was Tough, but I did it", "Too Difficult for me"]

In [26]:
#@title If it was too easy, what more would you have liked to be added? If it was very difficult, what would you have liked to have been removed? { run: "auto", display-mode: "form" }
Additional = "Its good" #@param {type:"string"}

In [27]:
#@title Can you identify the concepts from the lecture which this experiment covered? { run: "auto", vertical-output: true, display-mode: "form" }
Concepts = "Yes" #@param ["","Yes", "No"]

In [28]:
#@title  Experiment walkthrough video? { run: "auto", vertical-output: true, display-mode: "form" }
Walkthrough = "Very Useful" #@param ["","Very Useful", "Somewhat Useful", "Not Useful", "Didn't use"]

In [29]:
#@title  Text and image description/explanation and code comments within the experiment: { run: "auto", vertical-output: true, display-mode: "form" }
Comments = "Very Useful" #@param ["","Very Useful", "Somewhat Useful", "Not Useful", "Didn't use"]

In [30]:
#@title Mentor Support: { run: "auto", vertical-output: true, display-mode: "form" }
Mentor_support = "Very Useful" #@param ["","Very Useful", "Somewhat Useful", "Not Useful", "Didn't use"]

In [31]:
#@title Run this cell to submit your notebook for grading { vertical-output: true }
try:
  if submission_id:
      return_id = submit_notebook()
      if return_id : submission_id = return_id
  else:
      print("Please complete the setup first.")
except NameError:
  print ("Please complete the setup first.")

Your submission is successful.
Ref Id: 1095
Date of submission:  27 Dec 2024
Time of submission:  15:29:49
View your submissions: https://learn-iiith.talentsprint.com/notebook_submissions